
<style>
  .nav-item{
    background-color: white;
  }
  .nav-item:hover{
    background-color: rgba(196, 236, 243, 0.37);
    
  }
</style>
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/assets/img/brand/logoimg.png" class="navbar-brand-img" alt="...">
          <!-- <h2>Smart Motor Mechanic</h2> -->
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/home">
                <!-- <i class="ni ni-tv-2 text-primary"></i> -->
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <!-- <i class="fa fa-users text-primary"></i> -->
                <span class="nav-link-text">User List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">
                <!-- <i class="fa fa-wrench text-primary"></i> -->
                <span class="nav-link-text">Manage Categories</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/service_types">
                <!-- <i class="fas fa-bus-alt text-primary"></i> -->
                <span class="nav-link-text">Manage Service Types</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/services">
                <!-- <i class="fa fa-gears fa_custom text-yellow"></i> -->
                <span class="nav-link-text">All Services</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/paymnetDuration">
                <!-- <i class="fa fa-desktop fa_custom text-yellow"></i> -->
                <span class="nav-link-text">Manage Paymnet Duration</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupons">
                <!-- <i class="fa fa-desktop fa_custom text-yellow"></i> -->
                <span class="nav-link-text">Manage Coupons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/quections">
                <!-- <i class="fa fa-envelope fa_custom text-yellow"></i> -->
                <span class="nav-link-text">All Quections</span>
              </a>
            </li>
            
          </ul>
        </div><br><br><br>
        <a class="nav-link" href="/admin/adminSignout">
          <h2 style="margin-left: -10%;color: gray;">Logout</h2>
        </a>        
      </div>      
    </div>   
  </nav>